@value text-color, bg-color, bg-color-secondary, shadow from '../../variables.module.css';

.profile {
  margin: 30px auto;
  width: 270px;

  background-color: bg-color;
  border-radius: 5px;
  box-shadow: shadow;
}

.description {
  text-align: center;
}

.stats {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.items {
  width: calc(100% / 3);

  border-top: solid #cfcfcf 1px;
  border-right: solid #cfcfcf 1px;
  background-color: bg-color-secondary;
}

.items:first-child {
  border-bottom-left-radius: 5px;
}

.items:last-child {
  border-right: none;
  border-bottom-right-radius: 5px;
}

.avatar {
  margin: 20px 0;
  width: 120px;
  border-radius: 50%;

  background-color: bg-color-secondary;
}

.name {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 22px;
}

.tag {
  margin-bottom: 10px;
  color: text-color;
}

.location {
  margin-bottom: 20px;
  color: text-color;
}

.label {
  display: block;
  margin: 15px 0 5px 0;
  text-align: center;

  font-size: 14px;
  color: text-color;
}

.quantity {
  display: block;
  margin-bottom: 15px;
  text-align: center;

  font-weight: 700;
}
