@value bg-color, shadow from '../../variables.module.css';

.statistics {
  margin: 30px auto;
  padding-top: 15px;
  width: fit-content;

  background-color: bg-color;
  border-radius: 5px;
  box-shadow: shadow;
}

.title {
  margin-bottom: 15px;

  text-align: center;
  text-transform: uppercase;
}

.stat__list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.item {
  width: 70px;
}

.item:first-child {
  border-bottom-left-radius: 5px;
}

.item:last-child {
  border-right: none;
  border-bottom-right-radius: 5px;
}
